*{
    box-sizing: border-box;
}
body{
    padding-top: 0;
    margin-top: 0;
    font-family: 'Noto Sans HK', sans-serif;
    background-image: url(https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80); 
    background-size: cover;
    background-repeat: no-repeat;
    
}